body {
	font-family: arial;
	font-size: 20px;
	background-color: #00ccff;
}

img {
	size: 820 x 820;
	text-align: bottom-right;
}

img {
	size: 236 x 236;
	text-align: bottom-left;
}



